<section>
    <p-dataView #dv [loading]="loading" [value]="cars" filterBy="brand" layout="grid" [rows]="12">
        <ng-template pTemplate="header">
          <div class="flex flex-column flex-row justify-content-between">
            <input type="search" pInputText placeholder="Search by brand"
                   (input)="filter(dv, $event)"/>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>

        </ng-template>
        <ng-template let-car pTemplate="gridItem">
          <div class="col-12 md:col-3">
            <div class="flex item">
              {{car.year}}-{{car.brand}}
              <img src="{{car.photo}}" alt="foto del carro">
            </div>

          </div>
        </ng-template>
    </p-dataView>
</section>
